body {
  margin: 40px 20px 20px 40px;
  font-family: 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.convert{
  background: #2E0039;
  color: #FFFFFF;
  max-width: 1400px;
  padding: 5px 20px 20px 25px;
  margin: 40px 20px 20px 40px;
  border-radius: 25px;
}
.lengths{
  padding-right: 500px;
}